/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

// Colors modules
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-grey-dark: #777;

// Secondary color
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// tertiary color
$color-tertiary-dark: #5643fa;
$color-tertiary-light: #2998ff;

// Non colors modules
$color-white: #fff;
$color-grey-light-1: #f7f7f7f7;

$black-black: #000;

// Fonts
$default-font-size: 1.6rem;
