.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(8rem);
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: normal moveinleft 1s;
    transition: linear 1s;
    text-shadow: 0.5rem 0.5 0rem var(--light-green);
    font-family: "Monoton", cursive;
  }

  &--main:hover {
    transform: translateX(5rem);
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: normal moveinright 1s;
  }

  .btn {
    &:link,
    &:visited {
      margin-top: 2rem;
      animation: ease-in-out 1s movebtnbottom;
      border-radius: 100px;
      transition: all 0.2s;
      position: relative;
      font-size: 1.6rem;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      font-weight: 900;
      color: black;
    }
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.paragraph {
  font-size: 1.6rem;
  color: black;
  font-weight: 900;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.write {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  gap: 5rem;
  padding: 5rem;
  margin-bottom: 10rem;
}
