.header {
  height: 96vh;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg") center center/cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  &__logo-box {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 3.5rem;
    margin: 4rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
